.nav-background{
	background-color: #45619d;
	font-size: 13px;
}
.text-facebook{
	font-size: 35px;
}
.btn-color{
	background-color: #4165af;
	border: none;
	color: white;
	font-weight: bold;
}
.btn-color:hover{
	background-color: #4267b2;
	border: 1px solid #32528e;
}